.idea
conf
logs
users
vendor
app/config/config.scrts.yml
app/config/config.core.yml
app/config/config.shop.yml
app/config/config.navigation.yml
app/config/config.customer.yml
web/robots.txt
web/favicon.ico
