.idea
conf
logs
users
app/config/config.navi.php
app/config/config.customer.yml
vendor
setup/important.txt
app/config/config.scrts.yml
app/config/config.core.yml
app/config/config.shop.yml
web/robots.txt
web/favicon.ico
