<div class="defaultpadding">
{{content}}

{% if customdata is defined %}
{% include 'shop/shoppingcarttable.twig' %}
<a href="/_misc/myorders.html"><i class="fa fa-arrow-left"></i></a>
{% endif %}
</div>