<!-- Cart -->
{% if customdata.shoppingcart.readonly == false %}<h1>{{T("shoppingcart_headline")}}</h1>{% endif %}
{{content}}
{% if customdata.shoppingcart.cart|length > 0 %}
    {% include 'shop/shoppingcarttable.twig' %}
    {% if customdata.shoppingcart.readonly == false %}
        {% include 'customer/customerform.twig' %}
    {% endif %}
{% endif %}
