DirectoryIndex app.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule .? %{ENV:BASE}/app.php [L]

    # workaround for php cgi mode
    SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
</IfModule>
